@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center">
     <h1>  <b   style=" color: #6B8E23" ;>      ¡BIENVENIDO!   </b>    </h1>
</div>

<div class="text-center">
    <h2><b style="  color: #FFFFFF" ;> Guía para la adecuada fertilización de los cultivos de café </b> </h2>
</div>

