@model AboCafes.Common.Entities.Lote

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdFinca" />

            <partial name="_Lote" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="DetailsFinca" asp-route-id="@Model.IdFinca" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


