@model AboCafes.Common.Entities.Ciudad

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Ciudad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCiudad">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdDepartamento" />

            <partial name="_Ciudad" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.IdDepartamento" class="btn btn-success">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
