@model AboCafes.Common.Entities.Producto

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadKN" class="control-label"></label>
                <input asp-for="CantidadKN" class="form-control" />
                <span asp-validation-for="CantidadKN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadKP" class="control-label"></label>
                <input asp-for="CantidadKP" class="form-control" />
                <span asp-validation-for="CantidadKP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadKF" class="control-label"></label>
                <input asp-for="CantidadKF" class="form-control" />
                <span asp-validation-for="CantidadKF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menores" class="control-label"></label>
                <input asp-for="Menores" class="form-control" />
                <span asp-validation-for="Menores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
